/* --- EJEMPLOS ---
reglas:estan conformadas por:
  * selectores: son la manera de identificar a uno o mas elementos dentro de nuestro html
    - selector de etiqueta
    - selector de descendente
    - Selector de clase
    - Selector de id
  * declaraciones: es todo lo que hacemos con el selector
  * propiedades: son las acciones particulares que podemos realizar con los elementos
  * valores: son los valores que esperan recibir las propiedades como si fueran variables
*/

/* selector de etiqueta: header, section, article */
/* header { Selecto de practica
  background: pink !important;
  background: pink;
  color: red;
} */

/* selector de descendente: va a ser un elemento hijo de algun otro elemento */
/* Toma todas las a alli dentro */
/* body header div nav ol li a {} */


/* Selector de clase */
/* .link {} */

/* Selector de id*/
/* #portafolio */


/* Selectores a implementar */
body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: 'Open Sans', Times, serif; */
  font-family: 'Fjalla One', sans-serif;
  /* Estilos de las fuentes */
  /* font-weight: normal;  Se suele indicar por multiplos de 100 */
  /* 400 = normal | negrita: bold = 600*/

  /* font-style: italic;   italic : cursiva */
}

h1 {
  /*  Cambiar alto de linea*/
  line-height: 1.5em;  /*em: (medida) de lo que vale la fuente. 1.5: 100% + 50% -> 150%*/
  font-size: 40px;
  /* Separacion de letras */
  letter-spacing: -.2px; /* 20% de un pixel menos*/

  /* Transformar fuentes */
  text-transform: uppercase; /*capitalize: primeras letras de cada palabra en mayuscula*/
  /*text-decoration: underline;  underline: subrayado*/
  color: white;
  margin: 0;
  /* top right bottom left -> en sentido a las agujas del reloj */
  /* margin:100px 520px 70px 30px; */
  /* top botton | right left */
  /* margin: 100px 70px ; */
  /* margin: 0 auto ; centrado -> todo el espacio disponible de ambos lados*/
}

h1 strong {
  color: #026fff;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 90px;
}


.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol, li {
  height: inherit;
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;  /*Para eliminar la enumeracion*/
}

figure {
  margin: 0
}

/* Agregar color a los enlaces */
.header a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 300px;
  /* Imagen de fonde */
  background-image: url('../images/hero.jpg');
  background-color: #1b2127;
                /* width height; */
  background-size: 500px 300px;
  background-repeat: no-repeat; /* Para que no se repita la imagen*/
  background-position-x: right;
  display: flex;
  align-items: center;
}

.portfolio {
  background: #fafafa;
}

.proyect {
          /* tamaño | tipo | estilo del borde*/
  /* border-top: 10px solid red;
  border-right: 10px solid green;
  border-left: 10px solid orange;
  border-bottom: 10px solid pink; */
  /* border-color: red;  Por defecto el borde es del color del texto de la clase */
  /* border-top-color: red;  Para ser mas especifico */
  /* border-width: 15px;
  border-style: solid; */
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  margin: 10px;
  background: white;
  display: flex;
}

/* .proyect div {} -> en caso de no agregarle la clase al div */
.proyect-details {
  width: 500px;
  height: 200px;
}

.proyect-image-container {
  width: 500px;
}

.flexbox {
  display: flex;
  /* flex-direction: row; siempre por defecto asi  */
  /* flex-direction: column; */
  /* flex-wrap: nowrap; Asi ningun elemento cae a la siguiente fila */
  flex-wrap: wrap;
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid red;
  /* Indicar la capacidad de encojimiento de estos elementos */
  flex-shrink: 0;
}
